<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./openbox.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,500;1,500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="openbox">
    		<div class="property-1inactive">
      			<div class="add-any-other-details-you-wish-wrapper">
        				<div class="add-any-other">Add any other details you wish</div>
      			</div>
      			<div class="textbox">
        				<i class="add-any-other">Eg: Something rather christmassy but not childish</i>
      			</div>
    		</div>
    		<div class="property-1active">
      			<div class="add-any-other-details-you-wish-wrapper">
        				<div class="add-any-other">Add any other details you wish</div>
      			</div>
      			<div class="textbox1">
        				<div class="add-any-other">Eg: Something rather christmassy but not childish</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>