<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./radiocard.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="radiocard">
    		<div class="property-1show-active">
      			<div class="question">
        				<div class="show-wrapper">
          					<div class="show">Show</div>
        				</div>
        				<div class="radio">
        				</div>
      			</div>
      			<div class="options">
        				<div class="labels">
          					<div class="tag-parent">
            						<div class="tag">
              							<div class="text">~20 min episodes</div>
            						</div>
            						<div class="tag">
              							<div class="text">miniseries</div>
            						</div>
            						<div class="tag">
              							<div class="text">new</div>
            						</div>
          					</div>
          					<div class="tag-parent">
            						<div class="tag">
              							<div class="text">+3 seasons</div>
            						</div>
            						<div class="tag">
              							<div class="text">ended</div>
            						</div>
            						<div class="tag">
              							<div class="text">~1h episodes</div>
            						</div>
          					</div>
        				</div>
        				<div class="textbox-card">
          					<div class="r11">
            						<div class="show">Write your own...</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1show-inactive">
      			<div class="question">
        				<div class="show-wrapper">
          					<div class="show">Show</div>
        				</div>
        				<div class="radio1">
        				</div>
      			</div>
      			<div class="options1">
        				<div class="labels">
          					<div class="tag-parent">
            						<div class="tag">
              							<div class="text">~20 min episodes</div>
            						</div>
            						<div class="tag">
              							<div class="text">miniseries</div>
            						</div>
            						<div class="tag">
              							<div class="text">new</div>
            						</div>
          					</div>
          					<div class="tag-parent">
            						<div class="tag">
              							<div class="text">+3 seasons</div>
            						</div>
            						<div class="tag">
              							<div class="text">ended</div>
            						</div>
            						<div class="tag">
              							<div class="text">~1h episodes</div>
            						</div>
          					</div>
        				</div>
        				<div class="textbox-card">
          					<div class="r11">
            						<div class="show">Write your own...</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1movie-active">
      			<div class="question">
        				<div class="show-wrapper">
          					<div class="show">Movie</div>
        				</div>
        				<div class="radio">
        				</div>
      			</div>
      			<div class="options">
        				<div class="labels">
          					<div class="tag-parent">
            						<div class="tag">
              							<div class="text">~1h</div>
            						</div>
            						<div class="tag">
              							<div class="text">~2h</div>
            						</div>
            						<div class="tag">
              							<div class="text">Blockbuster</div>
            						</div>
            						<div class="tag">
              							<div class="text">Award</div>
            						</div>
          					</div>
          					<div class="tag-parent">
            						<div class="tag">
              							<div class="text">New</div>
            						</div>
            						<div class="tag">
              							<div class="text">Theatre</div>
            						</div>
            						<div class="tag">
              							<div class="text">Indie</div>
            						</div>
            						<div class="tag">
              							<div class="text">Animation</div>
            						</div>
          					</div>
        				</div>
        				<div class="textbox-card">
          					<div class="r11">
            						<div class="show">Write your own...</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1movie-inactive">
      			<div class="question">
        				<div class="show-wrapper">
          					<div class="show">Movie</div>
        				</div>
        				<div class="radio1">
        				</div>
      			</div>
      			<div class="options1">
        				<div class="labels">
          					<div class="tag-parent">
            						<div class="tag">
              							<div class="text">~1h</div>
            						</div>
            						<div class="tag">
              							<div class="text">~2h</div>
            						</div>
            						<div class="tag">
              							<div class="text">Blockbuster</div>
            						</div>
            						<div class="tag">
              							<div class="text">Award</div>
            						</div>
          					</div>
          					<div class="tag-parent">
            						<div class="tag">
              							<div class="text">New</div>
            						</div>
            						<div class="tag">
              							<div class="text">Theatre</div>
            						</div>
            						<div class="tag">
              							<div class="text">Indie</div>
            						</div>
            						<div class="tag">
              							<div class="text">Animation</div>
            						</div>
          					</div>
        				</div>
        				<div class="textbox-card">
          					<div class="r11">
            						<div class="show">Write your own...</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>