<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./labelcard.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="labelcard">
    		<div class="property-1iwantto">
      			<div class="question">
        				<div class="i-want-to">I want to</div>
      			</div>
      			<div class="options">
        				<div class="labels">
          					<div class="row1">
            						<div class="tag">
              							<div class="text">Laugh</div>
            						</div>
            						<div class="tag">
              							<div class="text">Cry</div>
            						</div>
            						<div class="tag">
              							<div class="text">Dream</div>
            						</div>
            						<div class="tag">
              							<div class="text">Wonder</div>
            						</div>
          					</div>
          					<div class="row1">
            						<div class="tag">
              							<div class="text">Learn</div>
            						</div>
            						<div class="tag">
              							<div class="text">Impress</div>
            						</div>
            						<div class="tag">
              							<div class="text">Fear</div>
            						</div>
            						<div class="tag">
              							<div class="text">Hope</div>
            						</div>
          					</div>
          					<div class="row1">
            						<div class="tag">
              							<div class="text">Lust</div>
            						</div>
            						<div class="tag">
              							<div class="text">Cheesy</div>
            						</div>
            						<div class="tag">
              							<div class="text">Cringe</div>
            						</div>
            						<div class="tag">
              							<div class="text">Rush</div>
            						</div>
          					</div>
          					<div class="row4">
            						<div class="tag">
              							<div class="text">Confused</div>
            						</div>
            						<div class="tag">
              							<div class="text">Gossip</div>
            						</div>
            						<div class="tag">
              							<div class="text">Different</div>
            						</div>
          					</div>
        				</div>
        				<div class="textbox-card">
          					<div class="r11">
            						<div class="i-want-to">Name or describe them...</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1excluding">
      			<div class="question">
        				<div class="i-want-to">Excluding</div>
      			</div>
      			<div class="options">
        				<div class="labels">
          					<div class="row1">
            						<div class="tag15">
              							<div class="text">Horror</div>
            						</div>
            						<div class="tag15">
              							<div class="text">Violent</div>
            						</div>
            						<div class="tag15">
              							<div class="text">Mainstream</div>
            						</div>
          					</div>
          					<div class="row1">
            						<div class="tag15">
              							<div class="text">Political</div>
            						</div>
            						<div class="tag19">
              							<div class="text">Teen</div>
            						</div>
            						<div class="tag15">
              							<div class="text">Psychological</div>
            						</div>
          					</div>
        				</div>
        				<div class="textbox-card">
          					<div class="r11">
            						<div class="i-want-to">Name or describe them...</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-12goodreferences">
      			<div class="question">
        				<div class="i-want-to">2 Good references</div>
      			</div>
      			<div class="options2">
        				<div class="textbox-card2">
          					<div class="r11">
            						<div class="i-want-to">Name or describe them...</div>
          					</div>
        				</div>
        				<div class="textbox-card2">
          					<div class="r11">
            						<div class="i-want-to">Name or describe them...</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-12badreferences">
      			<div class="question">
        				<div class="i-want-to">2 Bad references</div>
      			</div>
      			<div class="options2">
        				<div class="textbox-card2">
          					<div class="r11">
            						<div class="i-want-to">Name or describe them...</div>
          					</div>
        				</div>
        				<div class="textbox-card2">
          					<div class="r11">
            						<div class="i-want-to">Name or describe them...</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1platforms">
      			<div class="question">
        				<div class="i-want-to">On any of these platforms</div>
      			</div>
      			<div class="options4">
        				<div class="labels">
          					<div class="row1">
            						<div class="tag21">
              							<img class="netflix-logo-icon-1" alt="" src="netflix-logo-icon 1.svg">
              							
            						</div>
            						<div class="tag22">
              							<img class="amazon-prime-video-1-1-icon" alt="" src="amazon-prime-video-1 1.svg">
              							
            						</div>
            						<div class="tag21">
              							<img class="apple-tv-1-icon" alt="" src="apple-tv 1.svg">
              							
            						</div>
            						<div class="tag21">
              							<img class="disney-1-1-icon" alt="" src="disney--1 1.svg">
              							
            						</div>
          					</div>
          					<div class="row1">
            						<div class="tag21">
              							<img class="hbo-max-logo-1-1-icon" alt="" src="hbo-max-logo-1 1.svg">
              							
            						</div>
            						<div class="tag21">
              							<img class="hulu-1-icon" alt="" src="hulu 1.svg">
              							
            						</div>
            						<div class="tag21">
              							<img class="crunchyroll-1-1-icon" alt="" src="crunchyroll-1 1.svg">
              							
            						</div>
          					</div>
        				</div>
        				<div class="textbox-card2">
          					<div class="r11">
            						<div class="i-want-to">Name or describe them...</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>