<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./tag.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="tag">
    		<div class="property-1inactive">
      			<div class="cry">Cry</div>
    		</div>
    		<div class="property-1active">
      			<div class="cry">Cry</div>
    		</div>
    		<div class="property-1inactive2">
      			<div class="cry">Cry</div>
    		</div>
    		<div class="property-1active2">
      			<div class="cry">Cry</div>
    		</div>
    		<div class="property-1active3">
      			<div class="cry">Cry</div>
    		</div>
    		<div class="property-1inactive3">
      			<div class="cry">Cry</div>
    		</div>
    		<div class="property-1netflix">
      			<img class="netflix-logo-icon-1" alt="" src="netflix-logo-icon 1.svg">
      			
    		</div>
    		<div class="property-1netflix-inactive">
      			<img class="netflix-logo-icon-1" alt="" src="netflix-logo-icon 1.svg">
      			
    		</div>
    		<div class="property-1primevideo-inactive">
      			<img class="amazon-prime-video-1-1-icon" alt="" src="amazon-prime-video-1 1.svg">
      			
    		</div>
    		<div class="property-1primevideo">
      			<img class="amazon-prime-video-1-1-icon" alt="" src="amazon-prime-video-1 1.svg">
      			
    		</div>
    		<div class="property-1appletv">
      			<img class="apple-tv-1-icon" alt="" src="apple-tv 1.svg">
      			
    		</div>
    		<div class="property-1appletv-inactive">
      			<img class="apple-tv-1-icon" alt="" src="apple-tv 1.svg">
      			
    		</div>
    		<div class="property-1disney">
      			<img class="disney-1-1-icon" alt="" src="disney--1 1.svg">
      			
    		</div>
    		<div class="property-1disneyinactive">
      			<img class="disney-1-1-icon" alt="" src="disney--1 1.svg">
      			
    		</div>
    		<div class="property-1hbomax">
      			<img class="hbo-max-logo-1-1-icon" alt="" src="hbo-max-logo-1 1.svg">
      			
    		</div>
    		<div class="property-1hbomax-inactive">
      			<img class="hbo-max-logo-1-1-icon" alt="" src="hbo-max-logo-1 1.svg">
      			
    		</div>
    		<div class="property-1hulu">
      			<img class="hulu-1-icon" alt="" src="hulu 1.svg">
      			
    		</div>
    		<div class="property-1hulu-inactive">
      			<img class="hulu-1-icon" alt="" src="hulu 1.svg">
      			
    		</div>
    		<div class="property-1crunchyroll">
      			<img class="crunchyroll-1-1-icon" alt="" src="crunchyroll-1 1.svg">
      			
    		</div>
    		<div class="property-1crunchyroll-inactiv">
      			<img class="crunchyroll-1-1-icon" alt="" src="crunchyroll-1 1.svg">
      			
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>