<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./textboxcard.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="textbox-card">
    		<div class="property-1inactive">
      			<div class="r11">
        				<div class="name-or-describe">Name or describe them...</div>
      			</div>
    		</div>
    		<div class="property-1active">
      			<div class="r111">
        				<div class="name-or-describe">Harry Potter</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>