<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./components/questioncard1.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="questioncard1">
    		<div class="property-1v11">
      			<div class="question">
        				<div class="how-productive-did">How productive did you feel today?</div>
      			</div>
      			<div class="options">
        				<div class="button1-parent">
          					<div class="button1">
            						<div class="text">ZzZ</div>
          					</div>
          					<div class="button1">
            						<div class="text">Satisfied</div>
          					</div>
          					<div class="button1">
            						<div class="text">Killing it</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1v12">
      			<div class="question">
        				<div class="how-productive-did">How energy-demanding was this day?</div>
      			</div>
      			<div class="options">
        				<div class="button1-parent">
          					<div class="button1">
            						<div class="text">Light</div>
          					</div>
          					<div class="button1">
            						<div class="text">Busy</div>
          					</div>
          					<div class="button1">
            						<div class="text">Exhausting</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1v13">
      			<div class="question">
        				<div class="how-productive-did">How appreciated did you feel by others?</div>
      			</div>
      			<div class="options">
        				<div class="button1-parent">
          					<div class="button1">
            						<div class="text">Not much</div>
          					</div>
          					<div class="button1">
            						<div class="text">Valued</div>
          					</div>
          					<div class="button1">
            						<div class="text">Praised</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1v21">
      			<div class="question">
        				<div class="how-productive-did">How productive did you feel today?</div>
      			</div>
      			<div class="options">
        				<div class="button1-parent">
          					<div class="button19">
            						<div class="text">Low</div>
          					</div>
          					<div class="button19">
            						<div class="text">Positive</div>
          					</div>
          					<div class="button19">
            						<div class="text">Haaapy!</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1v22">
      			<div class="question">
        				<div class="how-productive-did">How does your body and mind feel?</div>
      			</div>
      			<div class="options">
        				<div class="button1-parent">
          					<div class="button19">
            						<div class="text">Eletric</div>
          					</div>
          					<div class="button19">
            						<div class="text">Balanced</div>
          					</div>
          					<div class="button19">
            						<div class="text">Relaxed</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1v23">
      			<div class="question">
        				<div class="how-productive-did">What’s your current energy level?</div>
      			</div>
      			<div class="options">
        				<div class="button1-parent">
          					<div class="button19">
            						<div class="text">Dead</div>
          					</div>
          					<div class="button19">
            						<div class="text">Normal</div>
          					</div>
          					<div class="button19">
            						<div class="text">Full</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>