<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./resultcard.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="resultcard">
    		<div class="property-1active">
      			<div class="titlelabel">
        				<div class="titletext">The Office</div>
      			</div>
      			<div class="content">
        				<div class="options">
          					<div class="textbox">
            						<div class="summary">
              							<div class="titletext">If you enjoy character-driven comedy with awkward humor, *The Office* is for you. With its eccentric boss, quirky coworkers, and relatable office antics, it blends cringeworthy moments with heartwarming relationships, perfect for fans of dry, witty humor.</div>
            						</div>
          					</div>
        				</div>
        				<div class="keepandnext-parent">
          					<div class="keepandnext">
            						<div class="keep-next">Keep & Next</div>
          					</div>
          					<div class="deleteandnext">
            						<div class="keep-next">Discard & Next</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1inactive">
      			<div class="titlelabel">
        				<div class="titletext">The Office</div>
        				<div class="delete">
          					<div class="keep-next">X</div>
        				</div>
      			</div>
      			<div class="content1">
        				<div class="options">
          					<div class="textbox">
            						<div class="summary">
              							<div class="titletext">If you enjoy character-driven comedy with awkward humor, *The Office* is for you. With its eccentric boss, quirky coworkers, and relatable office antics, it blends cringeworthy moments with heartwarming relationships, perfect for fans of dry, witty humor.</div>
            						</div>
          					</div>
        				</div>
        				<div class="next-parent">
          					<div class="keepandnext">
            						<div class="keep-next">Keep & Next</div>
          					</div>
          					<div class="deleteandnext">
            						<div class="keep-next">Discard & Next</div>
          					</div>
        				</div>
      			</div>
    		</div>
    		<div class="property-1deleted">
      			<div class="titlelabel">
        				<div class="titletext">The Office</div>
        				<div class="delete">
          					<div class="keep-next">X</div>
        				</div>
      			</div>
      			<div class="content1">
        				<div class="options">
          					<div class="textbox">
            						<div class="summary">
              							<div class="titletext">If you enjoy character-driven comedy with awkward humor, *The Office* is for you. With its eccentric boss, quirky coworkers, and relatable office antics, it blends cringeworthy moments with heartwarming relationships, perfect for fans of dry, witty humor.</div>
            						</div>
          					</div>
        				</div>
        				<div class="next-parent">
          					<div class="keepandnext">
            						<div class="keep-next">Keep & Next</div>
          					</div>
          					<div class="deleteandnext">
            						<div class="keep-next">Discard & Next</div>
          					</div>
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>