<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./textbox.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="textbox">
    		<div class="property-1inactive">
      			<div class="want-to-add">Want to add more details?</div>
    		</div>
    		<div class="property-1inactive2">
      			<div class="want-to-add">Want to add more details?</div>
    		</div>
    		<div class="property-1active">
      			<div class="want-to-add">Lorem ipsum</div>
    		</div>
    		<div class="property-1active2">
      			<div class="want-to-add">Want to add more details?</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>